
@font-face {
    font-family: "EBGaramondItalic";
    src: url('../assets/EBGaramond12-Italic.otf');
}

@font-face {
    font-family: "EBGaramondLogo";
    src: url('../assets/EBGaramond-InitialsF1.otf');
}

html {
    --primary: #FF82A9;
    --secondary: #FFC0BE;
    --black: #222222;
    --white: #FFEBE7;
    --blue: #7F95D1;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: "Montserrat";
    color: var(--black);
}

.header {
    position: relative;
    height: 350px;
    transition: height .3s ease-in;
}
.header.shrunk {
    height: 50px;
}
.navbar {
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
}
.navbar .logo {
    font-family: "EBGaramondLogo";
    color: var(--white);
    font-weight: bold;
}

.logo .logo_rose {
    color: var(--primary);
}
.navbar .menu {
    margin: 0;
    position: relative;
}

.menu li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    padding: 15px 5px;
    color: var(--primary);  
    cursor: pointer;
    transition: color .3s;
}

.menu.mobile li:hover {
    color: var(--secondary);
}

.menu a {
    color: var(--primary);
}
a {
    text-decoration: none;
}
.baniere {
    position: relative;
    background-image: url("../assets/images/baniere-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    top: 0;
    height: 300px;
    transition: transform .3s ease-in;
}

.baniere.inactive_baniere {
    transform: translateX(-100%);
}
.header_center {
    position: absolute;
    height: 100px;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 4%;
    margin: auto;
}
.header_center .slogan{
    color: var(--black);
    font-family: "EBGaramondItalic";
    text-align: center;
    width: 300px;
    margin-top: 46px;
    opacity: 0;
    transition: opacity .3s, transform .3s ease-out;
}

.btn {
    display: block;
    border: transparent;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: filter .3s;
    cursor: pointer;
}

.contact_btn {
    height: 50px;
    width: 180px;
    margin: 20px auto 30px auto;
    background-color: var(--primary);
    border-radius: 15px;
    color: var(--white);
}
.contact_btn span {
    font-size: 16px;
    position: relative;
    margin-left: 18px;
    bottom: 6px;
    font-weight: 550;
    transition: margin-left .3s ease-in;
}
.contact_btn svg {
    width: 16px;
    fill: var(--black);
    opacity: 0;
    transform: translateX(-18px);
    transition: opacity .3s, transform .3s ease-in;
}
.btn.contact_btn:hover span {
    margin-left: 0;
}
.btn.contact_btn:hover svg {
    opacity: 1;
    transform: translateX(10px);
}

.entreprise_description {
    position: relative;
    background-color: var(--black);
    padding: 50px;
}

.entreprise_description .boutique_img {
    width: 30%;
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity .5s ease-in, transform .5s ease-in;
    display: inline-block;
}
.entreprise_description .name {
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .7s ease-out, transform .7s ease-out;
}
.entreprise_description .description {
    opacity: 0;
    letter-spacing: 2px;
    font-weight: 200;
    transform: translateY(20px);
    transition: opacity .7s ease-out, transform 1s ease-out;
}
.entreprise_description .text {
    color: var(--white);
    position: absolute;
    top: 50px;
    width: 40%;
    margin-left: 20px;
    display: inline-block;
}
.primary_btn {
    background-color: var(--primary);
    color: var(--black);
}
.btn.primary_btn:hover {
    filter: saturate(1.5);
}
.secondary_btn {
    background-color: var(--blue);
}
.btn:hover {
    filter: contrast(1.2);
}
.entreprise_description .primary_btn {
    margin-top: 30px;
    opacity: 0;
    transform: scale(.5);
    transition: opacity 1.2s ease-in, transform .5s ease-out;
}

.new_products {
    padding: 50px;
}
.new_products h4 {
    margin-bottom: 40px;
}

.new_products .product_one img, .new_products .product_two img {
    width: 270px;
    height: 400px;
    display: inline-block;
}
.page.supplies .products {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 40px;
}
.page.supplies .product {
    border: 1px solid var(--black);
}
.product_one, .product_two, 
.product_three, .product_four,
.product_five, .product_six {
    opacity: 0;
    transition: opacity .3s ease-in, transform .3s ease-in;
}
.product_one,.product_three, .product_five {
    transform: translateX(-40px);
}
.product_two, .product_four, .product_six {
    transform: translateX(40px);
}
.product_one.visible, .product_two.visible,
.product_three.visible, .product_four.visible,
.product_five.visible, .product_six.visible {
    opacity: 1;
    transform: translateX(0);
}
.new_products .description {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
}
.new_products .commentaires {
    font-family: "EBGaramondItalic";
    transform: translateY(20px);
    transition: transform .8s ease-out;
}
.new_products .description .name,
.page.supplies .description .name {
    font-weight: bold;
    color: var(--blue);
}
.new_products .name {
    margin-top: 0;
    transform: translateY(20px);
    transition: transform .6s ease-out;
}
.product_one, .product_three, .product_five {
    position: relative;
}
.product_one .description, .product_three .description, .product_five .description {
    position: absolute;
    top: 0;
    left: 290px;
}
.product_two, .product_four, .product_six {
    position: relative;
    top: 30px;
    height: 400px;
}
.product_two img, .product_four img, .product_six img {
    position: absolute;
    right: 0;
}
.product_two .description, .product_four .description, .product_six .description {
    position: absolute;
    right: 290px;
    text-align: right;
}
.product_one.visible .name, 
.product_one.visible .commentaires, 
.product_two.visible .name,
.product_two.visible .commentaires,
.product_three.visible .name, 
.product_three.visible .commentaires, 
.product_four.visible .name,
.product_four.visible .commentaires,
.product_five.visible .name, 
.product_five.visible .commentaires, 
.product_six.visible .name,
.product_six.visible .commentaires {
    transform: translateY(0);
}

.page.supplies .product_two, .page.supplies .product_four,
.page.supplies .product_six {
    top: 0;
    height: unset;
}
.products .product_one .description,
.products .product_three .description,
.products .product_five .description {
    padding-right: 10px;
}
.products .product_two .description,
.products .product_four .description,
.products .product_six .description {
    padding-left: 10px;
}
.page.supplies .product img {
    width: 270px;
    height: 400px;
    display: inline-block;
}
.page.supplies h3 {
    margin-top: 40px;
}

.services {
    padding: 50px;
    background-color: var(--secondary);
    overflow-x: hidden;
}

.services .elements{
    display: flex;
    justify-content: start;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.services .service img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.service {
    position: relative;
    width: 270px;
    height: 487px;
    border-radius: 10px;
    background-color: var(--white);
    transform: translateY(20px);
    transition: transform .3s ease-in;
}
.service:nth-child(2){
    margin-left: 50px;
    transition: transform .5s ease-in;
}
.service .description {
    width: 270px;
    margin-left: 10px;
}
.service .name {
    font-weight: 500;
}
.service .secondary_btn {
    position: absolute;
    bottom: 20px;
    width: 250px;
    background-color: var(--black);
    color: var(--primary);
}
.services .elements.visible {
    opacity: 1;
}
.elements.visible .service {
    transform: translateY(0);
}

footer {
    height: 280px;
}
footer .plus {
    display: flex;
    justify-content: space-around;
    height: 240px;
    padding-top: 20px;
    background-color:#2c2c2c;
    font-weight: 100;
}
footer .title {
    font-weight: 200;
    color: var(--white);
}
.fb svg, .ig svg, .linkedin svg, .gmail svg {
    width: 20px;
    fill: var(--white);
}
footer .plus svg {
    margin-right: 10px;
}
footer a {
    color: var(--primary);
}
.newsletter input, .newsletter textarea {
    display: block;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}
.newsletter textarea {
    margin-top: 10px;
    height: 50px;
}
.newsletter .primary_btn {
    width: 170px;
    margin-top: 15px;
}
.reglementations a {
    display: block;
    line-height: 1.5;
}
.copyright {
    padding: 10px;
    text-align: center;
    background-color: var(--blue);
}


/* ANIMATION POUR L'OBSERVER */

.slogan.visible {
    opacity: 1;
    transform: translateY(-20px);
}
.boutique_img.visible {
    opacity: 1;
    transform: translateX(0);
}
.entreprise_description .name.visible, .entreprise_description .description.visible {
    opacity: 1;
    transform: translateY(0);
}
.entreprise_description .primary_btn.visible {
    opacity: 1;
    transform: scale(1);
}

.page.contact {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 22px;
}
.contact .social_networks {
    width: 55%;
}

.contact .social_networks h4, .contact .social_networks h4 {
    line-height: 25px;
}

.contact .social_networks div {
    margin-top: 15px;
}
.contact .social_networks svg {
    fill: var(--blue);
}
.contact .social_networks a {
    color: var(--primary);
    margin-left: 10px;
}
.contact .gmail a, .plus .gmail a {
    margin-left: 30px;
    line-height: 2;
}

.contact .newsletter {
    width: 40%;
}

.footer.reglementations .Contact {
    width: 200px;
}
.footer.reglementations .Contact a{
    display: inline-block;
}

.footer.contact {
    height: 180px;
}

.footer.contact .plus {
    height: 160px;
}

.page.supplies {
    padding: 30px;
}
.supplies .selling .selling_description {
    width: 60%;
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 2;
}
.prestations {
    padding: 10px;
}

.prestations h4 {
    color: var(--blue);
}
.prestations_grid {
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 5%;
    row-gap: 5%;
}
.prestation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary);
}
.prestation svg {
    fill: var(--primary);
    width: 25px;
}
.prestation .name {
    width: 80%;
}

@media only screen and (max-width: 1000px){
    .page.supplies .product img, .page.supplies .product .description {
        display: block;
        position: unset;
    }

    .page.supplies .product img {
        width: 100%;
    }

    .page.supplies .product .description {
        padding: 15px;
    }
}

@media only screen and (max-width:967px){
    .entreprise_description {
        height: 220px;
    }
}
@media only screen and (max-width:800px){

    .entreprise_description {
        height: 190px;
    }

    .entreprise_description .text {
        width: 55%;
        text-align: justify;
    }

    .page.supplies .selling .selling_description {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .page.supplies .selling {
        display: table;
    }

    .page.supplies .selling h2, .page.supplies .selling h3 {
        width: 80%;
        margin: 15px auto;
    }
    .page.supplies .selling .products {
        display: table-row;
    }

    .page.supplies .selling .products .product {
        margin: 0 auto;
        margin-top: 15px;
        width: 80%;
    }

    .new_products {
        height: 1360px;
        text-align: center;
    }
    .new_products .product {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .new_products .product img {
        width: 250px;
    }
    .new_products .product img, .new_products .product .description {
        display: block;
    }
    .new_products .product .description {
        position: static;
        margin-top: 20px;
        width: 90%;
    }
    .new_products .product_two img {
        position: static;
    }

    .page.contact {
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-left: 30px;
        height: 500px;
    }

    .page.contact .social_networks, .page.contact .newsletter {
        width: 70%;
    }

    .page.contact .newsletter {
        margin-top: 30px;
    }
}


@media only screen and (min-width:617px) and (max-width:691px) {
    
    .entreprise_description {
        height: 210px;
    }
}

@media only screen and (min-width:600px) and (max-width:616px) {
    
    .entreprise_description {
        height: 230px;
    }
}

@media only screen and (max-width: 600px){
    .header_center .slogan {
        color: var(--white);
    }
    .navbar .feather-menu {
        color: #7F95D1;
        cursor: pointer;
    }

    .navbar .menu.mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70%;
        padding: 15px 0 0 10px;
        background-color: var(--black);
        z-index: 10;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    .navbar .menu.mobile .menu_header {
        height: 20px;
        width: 100%;
        position: relative;
        top: -15px;
        left: -10px;
        margin: 0;
        background-color: var(--white);
    }

    .menu.mobile .menu_header .feather-x {
        float: right;
        margin-right: 10px;
        color: var(--black);
        cursor: pointer;
        transition: color .3s;
    }

    .menu.mobile .menu_header .feather-x:hover {
        color: var(--primary);
    }

    .navbar .menu.mobile li {
        display: block;
    }

    .navbar .menu.mobile.active {
        transform: translateX(0);
        box-shadow: 0 0 0 var(--black), -1px 0 5px var(--black);
    }
    .entreprise_description {
        height: auto;
        padding-bottom: 10px;
    }
    .entreprise_description .boutique_img{
        width: 95%;
    }
    .entreprise_description .text {
        position: relative;
        top: 15px;
        width: 95%;
        margin-left: 0;
        display: none;
        opacity: 0;
        transition: opacity .5s;
    }

    .entreprise_description .text.visible_description {
        display: block;
        opacity: 1;
    }

    .entreprise_description .show_description {
        color: #7F95D1;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        cursor: pointer;
        margin-bottom: 0;
        transition: color .3s;
    }

    .entreprise_description .show_description:hover {
        color: rgb(182, 182, 182);
    }

    .services {
        padding: 20px;
        position: relative;
    }

    .button_directions {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .button_directions .left, .button_directions .right {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #2c2c2c;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform .3s ease-in;
    }

    .button_directions .left:hover,.button_directions .right:hover {
        transform: scale(1.1);
    }

    .button_directions .left {
        margin-left: -10px;
    }

    .button_directions .right {
        margin-right: 30px;
    }

    .left svg, .right svg {
        color: #FFEBE7;
        transform: scale(0.8);
    }
    .footer .plus {
        flex-direction: column;
        height: 630px;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 20px;
    }
}

@media only screen and (max-width:507px){
    .entreprise_description .show_description{
        transform: translateY(20px);
        margin-bottom: 30px;
    }

    .page.contact .social_networks, .page.contact .newsletter {
        width: 90%;
    }
}

@media only screen and (max-width:450px){
    .navbar .menu.mobile {
        width: 100%;
    }

    .entreprise_description  {
        padding: 30px;
        text-align: center;
    }

    .entreprise_description .boutique_img {
        display: block;
        margin: 0 auto;
    }

    .entreprise_description .text {
        margin: 0 auto;
    }

    .entreprise_description .show_description {
        margin-bottom: 10px;
    }

    .page.contact {
        height: 570px;
    }

    .page.supplies .selling .products .product img {
        height: 250px;
    }
}

@media only screen and (max-width:400px){
    .page.supplies .selling .products .product {
        width: 95%;
    }
    .page.supplies .selling .products .product .description {
        height: 150px;
        overflow: scroll;
    }
}

@media only screen and (max-width:356px){
    .baniere .header_center {
        width: 90%;
    }

    .baniere .header_center .slogan {
        width: 100%;
    }
    .new_products {
        padding: 0;
    }
    .new_products .product{
        margin: 0 auto;
    }

    .page.contact {
        padding-left: 30px;
    }

    .page.supplies .selling .product img {
        height: 220px;
    }
}

@media only screen and (max-width: 310px) and (min-width:290px){
    .services .container {
        width: 95%;
    }

    .services .container .service {
        position: relative;
        width: 250px;
    }

    .services .service .description {
        width: 240px;
    }

    .service .secondary_btn {
        width: 90%;
    }
}
@media only screen and (max-width: 289px) {
    .services .container {
        width: 95%;
    }

    .services .container .service {
        position: relative;
        width: 240px;
    }

    .services .service .description {
        width: 230px;
    }

    .service .secondary_btn {
        width: 90%;
    }
}
